<!DOCTYPE html>
<html>
  {{>header}}
  <body>
    <!-- Header start -->
    {{>navbar}}
    <!-- Header end -->
    <br><br>
    <!-- 404 -->
    <!-- new comment -->
    <div class="container" style="padding-top: 10%;">
      <p style="text-align:center">
        <img src="https://i.imgur.com/yqlLOZF.png" alt="This shit-stained piece of crap can't even laod an image!"></p>
        <div class="container">
          <p style="text-align: center; font-size: 30px; color: #ffffff";>The page you are looking for cannot be found.</p>
        </div>
    </div>
    <script src="javascripts/index.js" charset="utf-8"></script>
    <script src="javascripts/jquery.js" charset="utf-8"></script>
  </body>
</html>
