<!DOCTYPE html>
<html>
  <!-- {{>header}} -->
  <head>
      <meta charset="utf-8">
      <title>Admin Panel</title>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
      <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    </head>
    <!-- Удалить содержимое <head> в случае запуска сервера -->
  <body>
    <div class="row">
      <div class="col">
        <div class="container">
          <div class="jumbotron">
            <form class="adding_form" method="POST">
              <p>
                <h2>Добавить новость</h2>
              </p>
              <p>
                <label for="zagolovok">Заголовок: </label>
                <textarea name="zagolovok" rows="1" cols="60" required></textarea>
              </p>
              <p>
                <label for="description">Описание: </label>
                <textarea name="description" rows="8" cols="60" required></textarea>
              </p>
              <p>
                <input type="submit" value="Добавить">
              </p>
            </form>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container">
          <div class="jumbotron">
            <form class="adding_form" method="POST">
              <p>
                <h2>Добавить работу</h2></p>
              <p>
                <label for="zagolovok">Заголовок: </label>
                <textarea name="zagolovok" rows="1" cols="60" required></textarea>
              </p>
              <p>
                <label for="description">Описание: </label>
                <textarea name="description" rows="8" cols="60" required></textarea>
              </p>
              <p>
                <label for="prof">Профессия: </label>
                <select name="prof" required>
                  <option value="kalyan_st">Кальянщик (Стажер)</option>
                  <option value="kalyan">Кальянщик</option>
                  <option value="of_st">Официант (Стажер)</option>
                  <option value="of">Официант</option>
                  <option value="admin">Администратор кальянной</option>
                </select>
              </p>
              <p>
                <label for="city">Город: </label>
                <select name="city" required>
                  <option value="kiev">Киев</option>
                  <option value="kharkov">Харьков</option>
                  <option value="odessa">Одесса</option>
                  <option value="dnepr">Днепр</option>
                  <option value="donetsk">Донецк</option>
                  <option value="zaporojye">Запорожье</option>
                  <option value="lvov">Львов</option>
                  <option value="krivoy_rog">Кривой Рог</option>
                  <option value="nikolaev">Николаев</option>
                  <option value="mariupol">Мариуполь</option>
                  <option value="lugansk">Луганск</option>
                  <option value="vinnitsa">Винница</option>
                  <option value="makeevka">Макеевка</option>
                  <option value="kherson">Херсон</option>
                  <option value="chernigov">Чернигов</option>
                  <option value="poltava">Полтава</option>
                  <option value="cherkassi">Черкассы</option>
                  <option value="gorlovka">Горловка</option>
                  <option value="zhitomir">Житомир</option>
                  <option value="sumi">Сумы</option>
                  <option value="khmelnitskiy">Хмельницкий</option>
                  <option value="chernovtsi">Черновцы</option>
                  <option value="rovno">Ровно</option>
                  <option value="kropivnitskiy">Кропивницкий</option>
                  <option value="dneprodzerzhinsk">Днепродзержинск</option>
                  <option value="kremenchug">Кременчуг</option>
                  <option value="ivano_frankovsk">Ивано-Франковск</option>
                  <option value="ternopol">Тернополь</option>
                  <option value="lutsk">Луцк</option>
                  <option value="belaya_tserkov">Белая Церковь</option>
                  <option value="kramatorsk">Краматорск</option>
                  <option value="melitopol">Мелитополь</option>
                  <option value="uzhgorod">Ужгород</option>
                  <option value="nikopol">Никополь</option>
                  <option value="slavyansk">Славянск</option>
                  <option value="berdyansk">Бердянск</option>
                  <option value="alchevsk">Алчевск</option>
                  <option value="severodonetsk">Северодонецк</option>
                  <option value="pavlograd">Павлоград</option>
                  <option value="brovari">Бровары</option>
                  <option value="lisichansk">Лисичанск</option>
                  <option value="kamenets_podolskiy">Каменец-Подольский</option>
                  <option value="konotop">Конотоп</option>
                  <option value="uman">Умань</option>
                  <option value="berdichev">Бердичев</option>
                  <option value="enakievo">Енакиево</option>
                  <option value="mukachevo">Мукачево</option>
                  <option value="krasniy_luch">Красный Луч</option>
                  <option value="aleksadria">Александрия</option>
                  <option value="chervonograd">Червоноград</option>
                </select>
              </p>
              <p>
                <label for="zp">Зарплата: </label>
                <input type="text" name="zp" value="0" required>
                <select name="valuta" required>
                  <option value="None">---</option>
                  <option value="uah">UAH</option>
                  <option value="usd">USD</option>
                  <option value="eur">EUR</option>
                </select>
              </p>
              <p>
                <input type="submit" value="Добавить">
              </p>
            </form>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container">
          <div class="jumbotron">
            <form method="post">
              <p>
                <h2>Добавить микс</h2>
              </p>
              <p>
                <label for="krep">Крепость: </label>
                <select name="krep">
                  <option value="1">1 - очень легкий</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5 - средней крепости</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10 - очень крепкий</option>
                </select>
              </p>
              <p>
                <label for="taste">Вкус: </label>
                <select name="taste">
                  <option value="sl">сладкий</option>
                  <option value="k">кислый</option>
                  <option value="sv">свежий</option>
                  <option value="p">пряный</option>
                  <option value="k_sl">кисло-сладкий</option>
                  <option value="sl_sv">сладко-свежий</option>
                  <option value="sl_p">сладко-пряный</option>
                  <option value="k_sv">кисло-свежий</option>
                  <option value="k_p">кисло-пряный</option>
                  <option value="p_sv">пряно-свежий</option>
                  <option value="sl_k_sv">сладко-кисло-свежий</option>
                  <option value="sl_p_sv">сладко-пряно-свежий</option>
                  <option value="k_p_sv">кисло-пряно-свежий</option>
                  <option value="k_sl_p">кисло-сладко-пряный</option>
                  <option value="kompot">Компот</option>
                </select>
              </p>
              <p>
                <label for="tbc">Табак-Вкус (через запятую):</label>
                <textarea name="tbc" rows="2" cols="60"></textarea>
              </p>
              <p>
                <input type="submit" name="submit" value="Добавить">
              </p>
            </form>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="container">
          <div class="jumbotron">
            <form method="post">
              <p>
                <h2>Добавить кальянную</h2>
              </p>
              <p>
                <label for="name">Название: </label>
                <input type="text" name="name">
              </p>
              <p>
                <label for="city">Город: </label>
                <select name="city" required>
                  <option value="kiev">Киев</option>
                  <option value="kharkov">Харьков</option>
                  <option value="odessa">Одесса</option>
                  <option value="dnepr">Днепр</option>
                  <option value="donetsk">Донецк</option>
                  <option value="zaporojye">Запорожье</option>
                  <option value="lvov">Львов</option>
                  <option value="krivoy_rog">Кривой Рог</option>
                  <option value="nikolaev">Николаев</option>
                  <option value="mariupol">Мариуполь</option>
                  <option value="lugansk">Луганск</option>
                  <option value="vinnitsa">Винница</option>
                  <option value="makeevka">Макеевка</option>
                  <option value="kherson">Херсон</option>
                  <option value="chernigov">Чернигов</option>
                  <option value="poltava">Полтава</option>
                  <option value="cherkassi">Черкассы</option>
                  <option value="gorlovka">Горловка</option>
                  <option value="zhitomir">Житомир</option>
                  <option value="sumi">Сумы</option>
                  <option value="khmelnitskiy">Хмельницкий</option>
                  <option value="chernovtsi">Черновцы</option>
                  <option value="rovno">Ровно</option>
                  <option value="kropivnitskiy">Кропивницкий</option>
                  <option value="dneprodzerzhinsk">Днепродзержинск</option>
                  <option value="kremenchug">Кременчуг</option>
                  <option value="ivano_frankovsk">Ивано-Франковск</option>
                  <option value="ternopol">Тернополь</option>
                  <option value="lutsk">Луцк</option>
                  <option value="belaya_tserkov">Белая Церковь</option>
                  <option value="kramatorsk">Краматорск</option>
                  <option value="melitopol">Мелитополь</option>
                  <option value="uzhgorod">Ужгород</option>
                  <option value="nikopol">Никополь</option>
                  <option value="slavyansk">Славянск</option>
                  <option value="berdyansk">Бердянск</option>
                  <option value="alchevsk">Алчевск</option>
                  <option value="severodonetsk">Северодонецк</option>
                  <option value="pavlograd">Павлоград</option>
                  <option value="brovari">Бровары</option>
                  <option value="lisichansk">Лисичанск</option>
                  <option value="kamenets_podolskiy">Каменец-Подольский</option>
                  <option value="konotop">Конотоп</option>
                  <option value="uman">Умань</option>
                  <option value="berdichev">Бердичев</option>
                  <option value="enakievo">Енакиево</option>
                  <option value="mukachevo">Мукачево</option>
                  <option value="krasniy_luch">Красный Луч</option>
                  <option value="aleksadria">Александрия</option>
                  <option value="chervonograd">Червоноград</option>
                </select>
              </p>
              <p>
                <label for="address">Адрес: </label>
                <input type="text" name="address">
              </p>
              <p>
                <input type="submit" name="submit" value="Добавить">
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
