<!DOCTYPE html>
<html>
 {{>header}}
  <body>
    <!-- Header start -->
    {{>navbar}}
    <!-- Header end -->
    <div class="container">
      <br>
      <br>
      <p style="font-size: 72px;">Форум кальянщиков</p>
    </div>
    <div style="background-color: #b6a500; margin-bottom: 0; padding-bottom: 0;"  class="jumbotron jumbotron-fluid">
      <div class="container">
        <p class="display-4">The site was created by Mykhailo Kukol</p>
        <p style="text-align: right">2018</p>
      </div>
    </div>
    <script src="javascripts/jquery.js" charset="utf-8"></script>
  </body>
</html>
