.sharp {
  border-radius:1;
  color: #ffffff;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: #f2f2f2;
  background-color: #66000000;
  box-sizing: border-box;
  padding: 2px 16px 3px;
  border-width: 2.25px;
  border-color: #fffdf4;
  border-image: initial;
}

.sh_news {
  border-radius:0;
  color: #ffffff;
}

label span {
  color: #cccccc;
}

.bg-custom {
    background-color: #cccccc!important;
}

.jumbotron {
  opacity: 0.95;
  padding: 16px 16px 16px;
  background-color: #cfcfcf;
}

#rent {
  opacity: 0.95;
  color: #000000;
  margin: 0;
  width: auto;
  padding: 16px 16px 16px;
  background-color: #cfcfcf;
}

#rent_common {
  color: #ffffff;
  margin: 1%;
  margin-top: 4%;
}

textarea.name {
  width: 100%;
  height: 30px;
}

textarea.desc {
  width: 100%;
  height: 198px;
}

textarea.taste {
  width: 100%;
  height: 60px;
}

.krep {
  width: 367px;
}

.taste {
  width: 402px;
}

.city {
  width: 390px;
}

.prof {
  width: 79.8%;
}

.zp {
  width: 65%;
}

.nazva {
  width: 175px;
}

.city2 {
  width: 200px;
}

.address {
  width: 200px;
}
