.sharp {
  border-radius:1;
  color: #ffffff;
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: #f2f2f2;
  background-color: #66000000;
  box-sizing: border-box;
  padding: 2px 16px 3px;
  border-width: 2.25px;
  border-color: #fffdf4;
  border-image: initial;
}

.sh_news {
  border-radius:0;
  color: #ffffff;
}

label span {
  color: #cccccc;
}

.bg-custom {
    background-color: #cccccc!important;
}
